<h2>Adding to <%= @collection_name %></h2>

<a href="/admin">go back</a>

<form method="POST" action="/admin/<%= @collection_name %>/new">
  <% @collection_columns.each do |column| %>
    <% next if column == :id %>

    <span class="label"><%= column %></span>
    <% if @collection_name.equiv_textareas.include?(column) %>
<textarea name="<%= column %>" rows="20">
</textarea>
    <% else %>
      <input type="text" class="entry-field" name="<%= column %>">
    <% end %>
  <% end %> <p>

  <input type="submit" value="Submit">
</form>
